@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --font-inter: "Inter", serif;
}

*{
    margin: 0;
    padding: 0;
}

.nav{
    height: 15vh;
    width: 100vw;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #24FF47;
}

.nav__img{
    height: 100%;
    margin-left: 2vw
}

.nav__botao{
    display: block;
    margin-right: 2vw;
    font-size: 2.25rem;
    background-color: transparent;
    border: transparent;
    color: black;
    font-family: var(--font-inter);
}

.inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inicio_img{
    width: 40vw;
}

.conteudo__titulo{
    font-size: 6rem;
    font-family: var(--font-inter);
}

.conteudo__texto{
    font-size: 3rem;
    font-family: var(--font-inter);
}

.Ferramentas{
    background-color: #FFF067;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.quadros{
    background: rgb(176,255,203);
    background: linear-gradient(180deg, rgba(176,255,203,1) 0%, rgba(102,255,99,1) 100%);
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.quadro1{
    height: 30vh;
    width: 10vw;
}

.quadro2{
    height: 40vh;
    width: 15vw;
    ;
}

.quadro3{
    height: 50vh;
    width: 20vw;
}

.Ferramentas__titulo1{
    font-family: var(--font-inter);
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.Ferramentas__texto1{
    font-family: var(--font-inter);
    font-size: 0.75rem;
    text-align: center;
    color: black;
    text-decoration: none;
}

.Ferramentas__titulo2{
    font-family: var(--font-inter);
    font-size: 1.25rem;
    text-align: center;
    color: black;
    text-decoration: none;
}

.Ferramentas__texto2{
    font-family: var(--font-inter);
    font-size: 1rem;
    text-align: center;
    color: black;
    text-decoration: none;
}

.Ferramentas__titulo3{
    font-family: var(--font-inter);
    font-size: 2.5rem;
    text-align: center;
    color: black;
    text-decoration: none;
}

.Ferramentas__texto3{
    font-family: var(--font-inter);
    font-size: 1.25rem;
    text-align: center;
    color: black;
    text-decoration: none;
}

.vantagens{
    background-color: #00186F;
    padding: 2%;
}

.vantagens__titulo{
    font-family: var(--font-inter);
    color: white;
    font-size: 3rem;
}

.vantagens__conteudo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.vantagens__topicos{
    display: grid;
    grid-template-columns: 10% 30% 10% 30% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 100vh;
}

.vantagens_topico1{
    grid-column: 2;
    grid-row: 2;
}

.vantagens_topico2{
    grid-column: 2;
    grid-row: 4;
    display: block;
}

.vantagens_topico3{
    grid-column: 4;
    grid-row: 2;
    display: block;
}

.vantagens_topico4{
    grid-column: 4;
    grid-row: 4;
    display: block;
}

.topicos{
    font-size: 1.5rem;
    background-color: #FFF067;
    border-radius: 25px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-inter);
}

.mine{
    color: #00FF0A;
}

.invest{
    color: #FFE500
}

.vantagens__aviso{
    color: white;
    font-size: 1rem;
    font-family: var(--font-inter);
    text-align: center;
}

.vantagens__img{
    width: 40vw;
}

.missao{
    background-color: #FFF067;
    padding: 5%;
    display: flex;
    justify-content: end;
}

.missao__texto{
    font-size: 1.75rem;
    font-family: var(--font-inter);
    text-align: start;
    color: #00186F;
}

.missao_titulo{
    font-size: 2.5rem;
}

.visao{
    background-color: #24FF47;
    padding: 5%;
    display: flex;
    justify-content: end;
}

.visao__texto{
    font-size: 1.75rem;
    font-family: var(--font-inter);
    text-align: end;
    width: 60vw;
    color: #00186F;
}

.visao_titulo{
    font-size: 2.5rem;
}

.valores__lista__item{
    list-style-type: none;
    font-family: var(--font-inter);
    padding: 10%;
    font-size: 2rem;
    color: #FFF067;
}

.valores__lista{
    text-align: start;
}

.valores{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    background-color: #00186F;
}

.lista_invertida{
    text-align: end;
}

.valores_img{
    width: 25%;
}

.rodape{
    background-color: #00186F;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1200px){
    .nav{
        height: 5vh;
        width: 100vw;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        background-color: #24FF47;
    }

    .nav__botao{
        display: block;
        margin-right: 2vw;
        font-size: 1rem;
        background-color: transparent;
        border: transparent;
        color: black;
        font-family: var(--font-inter);
    }

    .inicio{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2%;
    }
    
    .conteudo__titulo{
        font-size: 2rem;
        font-family: var(--font-inter);
    }
    
    .conteudo__texto{
        font-size: 0.8rem;
        font-family: var(--font-inter);
    }

    .quadro1{
        height: 8vh;
        width: 12vw;
    }
    
    .quadro2{
        height: 13vh;
        width: 17vw;;
    }
    
    .quadro3{
        height: 18vh;
        width: 22vw;
    }

    .Ferramentas__titulo1{
        font-family: var(--font-inter);
        font-size: 0.5rem;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    
    .Ferramentas__texto1{
        font-family: var(--font-inter);
        font-size: 0.25rem;
        text-align: center;
        color: black;
        text-decoration: none;
    }
    
    .Ferramentas__titulo2{
        font-family: var(--font-inter);
        font-size: 0.6rem;
        font-weight: 500;
        text-align: center;
        color: black;
        text-decoration: none;
    }
    
    .Ferramentas__texto2{
        font-family: var(--font-inter);
        font-size: 0.5rem;
        text-align: center;
        color: black;
        text-decoration: none;
    }
    
    .Ferramentas__titulo3{
        font-family: var(--font-inter);
        font-size: .75rem;
        text-align: center;
        font-weight: 500;
        color: black;
        text-decoration: none;
    }
    
    .Ferramentas__texto3{
        font-family: var(--font-inter);
        font-size: .6rem;
        text-align: center;
        color: black;
        text-decoration: none;
    }

    .vantagens{
        padding: 5%;
    }

    .vantagens__titulo{
        font-family: var(--font-inter);
        color: white;
        font-size: 1.75rem;
    }

    .topicos{
        font-family: var(--font-inter); 
        font-size: 0.6rem;
        border-radius: 20px;
    }

    .vantagens__topicos{
        display: grid;
        grid-template-columns: 10% 30% 10% 30% 10%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        height: 30vh;
    }

    .valores__lista__item{
        list-style-type: none;
        font-family: var(--font-inter);
        padding: 10%;
        font-size: 1rem;
        color: #FFF067;
    }

    .vantagens__aviso{
        font-size: 0.5rem;
    }
}